.about {
	padding: 80px 0 0;
	&__title {
		margin-bottom: 13px;
	}
	&__text {
		margin-bottom: 72px;
	}
	&__item {
		margin-bottom: 100px;
		padding: 70px 0;
		background-repeat: no-repeat;
		&:nth-child(even) {
			background-position: right;
		}
	}
	&__box {
		padding: 33px 40px;
		background: #fff;
		position: relative;
		max-width: 470px;
		&:nth-child(even) {
			margin-left: auto;
		}
		&::after {
			content: '';
			position: absolute;
			width: 33px;
			height: 33px;
			right: 19px;
			bottom: 19px;
			background-image: url('../images/dest/decor-right.svg');
		}
		&::before {
			content: '';
			position: absolute;
			width: 33px;
			height: 33px;
			top: 19px;
			left: 19px;
			background-image: url('../images/dest/decor-left.svg');
		}
		&-title {
			font-family: Georgia, sans-serif;
			font-size: 24px;
			line-height: 25px;
			color: #4E5665;
			margin-bottom: 20px;
		}
	}
	&__preview {
		&-title {
			margin-bottom: 38px;
		}
		&-text {
			margin: 53px auto 80px;
		}
	}
	&__images-box {
		text-align: center;
		padding-top: 73px;
		position: relative;
	}
	&__dot {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: rgba(236, 184, 76, .75);
		position: absolute;
		cursor: pointer;
		&:hover::before {
			content: '';
			display: block;
		}
		&:hover .about__dot-text {
			display: block;
		}
		&::before {
			content: '';
			background-image: url('../images/dest/line.svg');
			width: 244px;
			height: 122px;
			top: -113px;
			left: 25px;
			position: absolute;
			display: none;
		}
		&::after {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #FFD600;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&-text {
			font-weight: 700;
			font-size: 14px;
			line-height: 28px;
			color: #505050;
			position: absolute;
			top: -140px;
			left: 150px;
			white-space: nowrap;
			display: none;
		}


		&--1 {
			top: 190px;
			left: 280px;
		}

		&--2 {
			top: 188px;
			left: 635px;
		}

		&--3 {
			top: 147px;
			right: 500px;
		}

		&--4 {
			bottom: 28px;
			right: 435px;
		}
	}
}