.header {
	&__top {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100vh;
		padding: 40px;
		&-inner {
			border: 2px solid #ECB84C;
			border-bottom: none;
			display: flex;
    	flex-direction: column;
    	height: 100%;
    	color: #fff;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 200px;
		line-height: 227px;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
		margin: auto;
		font-family: Georgia, sans-serif;
	}
	&__text {
		font-size: 24px;
		line-height: 27px;
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
		display: flex;
		white-space: nowrap;
		align-items: center;
		margin-bottom: -12px;	
		font-family: Georgia, sans-serif;
		font-weight: 400;
		&::after {
			content: '';
			border-top: 2px solid #ECB84C;
			width: 100%;
			margin-left: 30px;
		}
		&::before {
			content: '';
			border-top: 2px solid #ECB84C;
			width: 100%;
			margin-right: 30px;
		}
	}
}
.menu {
	border-bottom: 1px solid rgba(#D0D4D8, .5);
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		&-link {
			padding: 24px 10px 20px;
			color: #909090;
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;
			margin: 0 6px;
			border-bottom: 2px solid transparent;
			transition: all .5s;
			&:hover {
				color: #4E5665;
				border-bottom: 2px solid #ECB84C;
			}
		}
	}
	&__btn {
		display: none;
	}
}
